<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="overflow-y:auto">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>管理后台</title>
<link rel="stylesheet" href="{skin:css/admin.css}" />
{js:jquery}
{js:dialog}
{js:form}
{js:validate}
<script type='text/javascript' src="{theme:javascript/admin.js}"></script>
<script type='text/javascript' src="{theme:javascript/menu.js}"></script>
</head>
<body style="width:600px">
<div class="pop_win">
<form action="{url:/order/order_refundment_doc}" method="post" id="col">
	<table width="90%" class="border_table" style="margin:10px auto">
		<col width="100px" />
		<col />
		<col width="100px" />
		<col />
		<tbody>
			<tr>
				<th>订单号:</th><td align="left">{$order_no}</td><th>下单时间:</th><td align="left">{$create_time}</td>
			</tr>
			<tr>
				<th>订单总金额:</th><td colspan="3" align="left">{$order_amount}</td>
			</tr>
			<tr><input type="hidden" name="id" value="{$order_id}"/><input type="hidden" name="tab" value="{$tab}"/><input type="hidden" name="order_no" value="{$order_no}"/>
				<th>退款方式:</th><td align="left"><input type="hidden" name="user_id" value="{$user_id}"/>
					<select name="refundment_name" pattern="required" alt="请选择支付方式" >
						{query:name=payment where = status eq 0}
						<option value="{$item['id']}" {if:$pay_type==$item['id']}selected{/if}>{$item['name']}</option>
						{/query}
					</select></td><th>退款账号:</th><td align="left"><input type="text" name="refundment_account"/></td>
			</tr>
			<tr>
				<th>退款金额:</th><td colspan="3" align="left"><input type="text" name="amount" id="amount" value="{$order_amount}"/></td>
			</tr>
			<tr>
				<th>申请退款原因:</th><td colspan="3" align="left"><textarea name="content" id="content" rows="3" cols="45"> </textarea></td>
			</tr>
		</tbody>
	</table>
</form>
</div>
</body>
</html>