{set:$myCartObj = new Cart(); $myCartInfo = $myCartObj->getMyCart();$siteConfig=new Config("site_config");}
{set:$siteConfigObj = new Config("site_config");$site_config   = $siteConfigObj->getInfo();}
{set:$iurl = IUrl::creatUrl();}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{echo:$siteConfig->name}</title>
<link rel="stylesheet" href="{skin:css/index.css}" />
<script type='text/javascript' src="{theme:javascript/common.js}"></script>
{js:jquery}
{js:form}
{js:dialog}
{js:validate}
</head>
<body class="index">
<div class="ucenter container">
	<div class="header">
		<h1 class="logo"><a title="{echo:$siteConfig->name}" style="background:url({webroot:image/logo.gif});" href="{url:}">{echo:$siteConfig->name}</a></h1>
		<ul class="shortcut">
			<li class="first"><a href="{url:/ucenter/index}">我的账户</a></li><li><a href="{url:/ucenter/order}">我的订单</a></li><li class='last'><a href="{url:/site/help_list}">使用帮助</a></li>
		</ul>
		{set:$user = $this->user;}
		<p class="loginfo">{$user['username']}您好，欢迎您来到{echo:$siteConfig->name}购物！[<a class='reg' href="{url:/simple/logout}">安全退出</a>]</p>
	</div>
	<div class="navbar">
		<ul>
			<li><a href="{url:}">首页</a></li>
			{query:name=guide}
			<li><a href="{$item['link']}">{$item['name']}<span> </span></a></li>
			{/query}
		</ul>
		<div class="mycart">
			<dl>
				<dt><a href="{url:/simple/cart}">购物车<b name="mycart_count">{$myCartInfo['count']}</b>件</a></dt>
				<dd><a href="{url:/simple/cart}">去结算</a></dd>
			</dl>

			<!--购物车浮动div 开始-->
			<div class="shopping" id='div_mycart' style='display:none;'>
			</div>
			<!--购物车浮动div 结束-->

		</div>
	</div>

	<div class="searchbar">
		<div class="allsort">
			<a href="javascript:void();">全部商品分类</a>

			<!--总的商品分类-开始-->
			<ul class="sortlist" id='div_allsort' style='display:none'>
				{set:$catResult = block::goods_category();}
				{foreach:items = $catResult item = $first}
					<li>
						<h2><a href="{url:/site/pro_list/cat/$first[id]}">{$first['name']}</a></h2>

						<!--商品分类 浮动div 开始-->
						<div class="sublist" style='display:none'>

							<div class="items">
								<strong>选择分类</strong>
								{if:isset($first['second'])}
								{foreach:items = $first['second'] item = $second}
								<dl class="category selected">
									<dt>
										<a href="{url:/site/pro_list/cat/$second[id]}">{$second['name']}</a>
									</dt>

									<dd>
										{if:isset($second['more'])}
										{foreach:items = $second['more'] item = $third}
										<a href="{url:/site/pro_list/cat/$third[id]}">{$third['name']}</a>|
										{/foreach}
										{/if}
									</dd>
								</dl>
								{/foreach}
								{/if}

							</div>

						</div>
						<!--商品分类 浮动div 结束-->

					</li>
				{/foreach}

			</ul>
			<!--总的商品分类-结束-->

		</div>

		<div class="searchbox">

			<form method='get'>
				<input type='hidden' name='controller' value='site' />
				<input type='hidden' name='action' value='search_list' />
				{set:$word = IReq::get('word');}
				<input class="text" type="text" name='word' id="word" autocomplete="off" value="{echo:$word ? $word : '输入关键字...'}" />
				<input class="btn" type="submit" value="商品搜索" onclick="checkInput('word','输入关键字...');" />
			</form>

			<!--自动完成div 开始-->
			<ul class="auto_list" style='display:none'></ul>
			<!--自动完成div 开始-->

		</div>
		<div class="hotwords">热门搜索：
			{query:name=keyword where=hot eq 1 limit=5 order=`order` asc}
			{set:$tmpWord = urlencode($item['word']);}
			<a href="{url:/site/search_list/word/$tmpWord}">{$item['word']}</a>
			{/query}
		</div>
	</div>

	<div class="position">
		您当前的位置： <a href="{url:}">首页</a>&nbsp;&gt;&nbsp;我的账户
	</div>
	<div class="wrapper clearfix">
		<div class="sidebar f_l">
			<img src="{skin:images/front/ucenter/ucenter.gif}" width="180" height="40" />
			<div class="box">
				<div class="title"><h2>交易记录</h2></div>
				<div class="cont">
					<ul class="list">
						<li><a href="{url:/ucenter/order}">我的订单</a></li>
						<li><a href="{url:/ucenter/integral}">我的积分</a></li>
						<li><a href="{url:/ucenter/redpacket}">我的代金券</a></li>
					</ul>
				</div>
			</div>
			<div class="box">
				<div class="title"><h2 class='bg2'>服务中心</h2></div>
				<div class="cont">
					<ul class="list">
						<li><a href="{url:/ucenter/refunds}">退款申请</a></li>
						<li><a href="{url:/ucenter/complain}">站点建议</a></li>
						<li><a href="{url:/ucenter/consult}">商品咨询</a></li>
						<li><a href="{url:/ucenter/evaluation}">商品评价</a></li>
					</ul>
				</div>
			</div>
			<div class="box">
				<div class="title"><h2 class='bg3'>应用</h2></div>
				<div class="cont">
					<ul class="list">
						<li><a href="{url:/ucenter/message}">短信息</a></li>
						<li><a href="{url:/ucenter/favorite}">收藏夹</a></li>
					</ul>
				</div>
			</div>
			<div class="box">
				<div class="title"><h2 class='bg4'>账户资金</h2></div>
				<div class="cont">
					<ul class="list">
						<li><a href="{url:/ucenter/account_log}">帐户余额</a></li>
						<li><a href="{url:/ucenter/online_recharge}">在线充值</a></li>
					</ul>
				</div>
			</div>
			<div class="box">
				<div class="title"><h2 class='bg5'>个人设置</h2></div>
				<div class="cont">
					<ul class="list">
						<li><a href="{url:/ucenter/address}">地址管理</a></li>
						<li><a href="{url:/ucenter/info}">个人资料</a></li>
						<li><a href="{url:/ucenter/password}">修改密码</a></li>
					</ul>
				</div>
			</div>
		</div>
		{viewcontent}
	</div>


	<div class="help m_10">
		<div class="cont clearfix">
			{set:$cat_list=array();}
			{query:name=help_category AS cat where=position_foot eq 1 order=sort asc,id desc limit=5}
			{set:$cat_list[$item['id']]=$item;}
			{/query}
			{if:count($cat_list)}
				{set:$width=floor(100/count($cat_list))-1;}
			{/if}

			{foreach:items=$cat_list key=$cat_id item=$cat}
			<dl style="width:{$width}%">
     			<dt><a href="{url:/site/help_list/id/$cat[id]}">{$cat['name']}</a></dt>
     			{query:name=help where=cat_id eq $cat_id order=sort asc,id desc}
					<dd><a href="{url:/site/help/id/$item[id]}">{$item['name']}</a></dd>
				{/query}
      		</dl>
      		{/foreach}
		</div>
	</div>
	{echo:$siteConfig->site_footer_code}

</div>
<script type='text/javascript'>
	//tabs的通用代码
	(function($){
		$(".tabs").each(function(i){
		    var parrent = $(this);
			$('.tabs_menu .node',this).each(function(j){
				var current=".node:eq("+j+")";
				$(this).bind('click',function(event){
					$('.tabs_menu .node',parrent).removeClass('current');
					$(this).addClass('current');
					$('.tabs_content>.node',parrent).css('display','none');
					$('.tabs_content>.node:eq('+j+')',parrent).css('display','block');
				});
			});
		});
	})(jQuery);

	//隔行换色
	$(".list_table tr::nth-child(even)").addClass('even');
	$(".list_table tr").hover(
		function () {
			$(this).addClass("sel");
		},
		function () {
			$(this).removeClass("sel");
		}
	);
    //用户中心导航条
    function menu_current()
    {
        var current = "{echo:$this->getAction()->getId()}";
        if(current == 'consult_old') current='consult';
        else if(current == 'isevaluation') current ='evaluation';
        else if(current == 'withdraw') current = 'account_log';
        var tmpUrl = "{url:/ucenter/current}";
        tmpUrl = tmpUrl.replace("current",current);
        $('div.cont ul.list li a:[href^="'+tmpUrl+'"]').parent().addClass("current");
    }
    menu_current();
</script>
<script type='text/javascript' src='{theme:javascript/site.js}'></script>
<script type='text/javascript'>
var url_head = 	encodeURIComponent('{$iurl}');
	$('input:text[name="word"]').bind({
		keyup:function(){autoComplete(decodeURIComponent(url_head)+'index.php'+decodeURIComponent('%2F')+'site'+decodeURIComponent('%2F')+'autoComplete','{url:/site/search_list}','{$site_config['auto_finish']}');}
	});

	//购物车div层
	$('.mycart').hover(
		function(){
			showCart('{url:/simple/showCart}');
		},
		function(){
			$('#div_mycart').hide('slow');
		}
	);
</script>
</body>
</html>
